.g--padding-0 {
  padding: 0px;
}
.g--padding-1 {
  padding: 4px;
}
.g--padding-2 {
  padding: 6px;
}
.g--padding-3 {
  padding: 8px;
}
.g--padding-4 {
  padding: 10px;
}
.g--padding-5 {
  padding: 12px;
}
.g--padding-6 {
  padding: 16px;
}
.g--padding-7 {
  padding: 20px;
}
.g--padding-8 {
  padding: 24px;
}
.g--padding-9 {
  padding: 32px;
}
.g--padding-10 {
  padding: 40px;
}
.g--padding-11 {
  padding: 48px;
}
.g--padding-12 {
  padding: 64px;
}
.g--padding-13 {
  padding: 80px;
}
.g--padding-14 {
  padding: 96px;
}
.g--padding-15 {
  padding: 128px;
}
.g--padding-16 {
  padding: 160px;
}
.g--padding-17 {
  padding: 192px;
}
.g--padding-18 {
  padding: 224px;
}
.g--padding-19 {
  padding: 256px;
}
.g--padding-20 {
  padding: 320px;
}
.g--padding-21 {
  padding: 480px;
}
.g--padding-22 {
  padding: 640px;
}
.g--padding-left-0 {
  margin-left: 0px;
}
.g--padding-left-1 {
  margin-left: 4px;
}
.g--padding-left-2 {
  margin-left: 6px;
}
.g--padding-left-3 {
  margin-left: 8px;
}
.g--padding-left-4 {
  margin-left: 10px;
}
.g--padding-left-5 {
  margin-left: 12px;
}
.g--padding-left-6 {
  margin-left: 16px;
}
.g--padding-left-7 {
  margin-left: 20px;
}
.g--padding-left-8 {
  margin-left: 24px;
}
.g--padding-left-9 {
  margin-left: 32px;
}
.g--padding-left-10 {
  margin-left: 40px;
}
.g--padding-left-11 {
  margin-left: 48px;
}
.g--padding-left-12 {
  margin-left: 64px;
}
.g--padding-left-13 {
  margin-left: 80px;
}
.g--padding-left-14 {
  margin-left: 96px;
}
.g--padding-left-15 {
  margin-left: 128px;
}
.g--padding-left-16 {
  margin-left: 160px;
}
.g--padding-left-17 {
  margin-left: 192px;
}
.g--padding-left-18 {
  margin-left: 224px;
}
.g--padding-left-19 {
  margin-left: 256px;
}
.g--padding-left-20 {
  margin-left: 320px;
}
.g--padding-left-21 {
  margin-left: 480px;
}
.g--padding-left-22 {
  margin-left: 640px;
}
.g--padding-right0 {
  margin-right: 0px;
}
.g--padding-right1 {
  margin-right: 4px;
}
.g--padding-right2 {
  margin-right: 6px;
}
.g--padding-right3 {
  margin-right: 8px;
}
.g--padding-right4 {
  margin-right: 10px;
}
.g--padding-right5 {
  margin-right: 12px;
}
.g--padding-right6 {
  margin-right: 16px;
}
.g--padding-right7 {
  margin-right: 20px;
}
.g--padding-right8 {
  margin-right: 24px;
}
.g--padding-right9 {
  margin-right: 32px;
}
.g--padding-right10 {
  margin-right: 40px;
}
.g--padding-right11 {
  margin-right: 48px;
}
.g--padding-right12 {
  margin-right: 64px;
}
.g--padding-right13 {
  margin-right: 80px;
}
.g--padding-right14 {
  margin-right: 96px;
}
.g--padding-right15 {
  margin-right: 128px;
}
.g--padding-right16 {
  margin-right: 160px;
}
.g--padding-right17 {
  margin-right: 192px;
}
.g--padding-right18 {
  margin-right: 224px;
}
.g--padding-right19 {
  margin-right: 256px;
}
.g--padding-right20 {
  margin-right: 320px;
}
.g--padding-right21 {
  margin-right: 480px;
}
.g--padding-right22 {
  margin-right: 640px;
}
.g--padding-top-0 {
  margin-top: 0px;
}
.g--padding-top-1 {
  margin-top: 4px;
}
.g--padding-top-2 {
  margin-top: 6px;
}
.g--padding-top-3 {
  margin-top: 8px;
}
.g--padding-top-4 {
  margin-top: 10px;
}
.g--padding-top-5 {
  margin-top: 12px;
}
.g--padding-top-6 {
  margin-top: 16px;
}
.g--padding-top-7 {
  margin-top: 20px;
}
.g--padding-top-8 {
  margin-top: 24px;
}
.g--padding-top-9 {
  margin-top: 32px;
}
.g--padding-top-10 {
  margin-top: 40px;
}
.g--padding-top-11 {
  margin-top: 48px;
}
.g--padding-top-12 {
  margin-top: 64px;
}
.g--padding-top-13 {
  margin-top: 80px;
}
.g--padding-top-14 {
  margin-top: 96px;
}
.g--padding-top-15 {
  margin-top: 128px;
}
.g--padding-top-16 {
  margin-top: 160px;
}
.g--padding-top-17 {
  margin-top: 192px;
}
.g--padding-top-18 {
  margin-top: 224px;
}
.g--padding-top-19 {
  margin-top: 256px;
}
.g--padding-top-20 {
  margin-top: 320px;
}
.g--padding-top-21 {
  margin-top: 480px;
}
.g--padding-top-22 {
  margin-top: 640px;
}
.g--padding-bottom-0 {
  margin-bottom: 0px;
}
.g--padding-bottom-1 {
  margin-bottom: 4px;
}
.g--padding-bottom-2 {
  margin-bottom: 6px;
}
.g--padding-bottom-3 {
  margin-bottom: 8px;
}
.g--padding-bottom-4 {
  margin-bottom: 10px;
}
.g--padding-bottom-5 {
  margin-bottom: 12px;
}
.g--padding-bottom-6 {
  margin-bottom: 16px;
}
.g--padding-bottom-7 {
  margin-bottom: 20px;
}
.g--padding-bottom-8 {
  margin-bottom: 24px;
}
.g--padding-bottom-9 {
  margin-bottom: 32px;
}
.g--padding-bottom-10 {
  margin-bottom: 40px;
}
.g--padding-bottom-11 {
  margin-bottom: 48px;
}
.g--padding-bottom-12 {
  margin-bottom: 64px;
}
.g--padding-bottom-13 {
  margin-bottom: 80px;
}
.g--padding-bottom-14 {
  margin-bottom: 96px;
}
.g--padding-bottom-15 {
  margin-bottom: 128px;
}
.g--padding-bottom-16 {
  margin-bottom: 160px;
}
.g--padding-bottom-17 {
  margin-bottom: 192px;
}
.g--padding-bottom-18 {
  margin-bottom: 224px;
}
.g--padding-bottom-19 {
  margin-bottom: 256px;
}
.g--padding-bottom-20 {
  margin-bottom: 320px;
}
.g--padding-bottom-21 {
  margin-bottom: 480px;
}
.g--padding-bottom-22 {
  margin-bottom: 640px;
}

/*# sourceMappingURL=padding.css.map */
