:root {
    --color-primary: #D9ECF3;
    --color-secondary: #007EAE;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-shadow: #EEEEEE;
    --color-background: #E5F5FC;
    --color-text-secondary: #7A6666;
}