.g--background-white{
    background-color:var(--color-white);
}

.g--color-primary{
    color:var(--color-primary);
}

.g--background-secondary{
    background-color: var(--color-secundary);
}

.g--color-white{
    color:var(--color-white);

}

.g--background-primary{
    background-color: var(--color-primary);
}

.g--borderColor-white{
    border-color: var(--color-white);
}