.g--background-primary{
    background-color: var(--color-primary);
}

.g--background-secondary{
    background-color: var(--color-secondary);
}

.g--background-white{
    background-color: var(--color-white);
}

.g--color-primary{
    color: var(--color-primary);
}

.g--color-secondary{
    color: var(--color-secondary);
}

.g--color-white{
    color: var(--color-white);
}

.g--color-grey1{
    color: var(--color-grey1);
}

.g--color-grey2{
    color: var(--color-grey2);
}