$borderRadius: (
    0px, 2px, 4px, 6px, 8px, 16px
);

.g--border-radius {
    $index: 0;

    @each $size in $borderRadius {
        &-#{$index} {
            border-radius: $borderRadius;
        }

        $index: $index + 1;
    }
}