$fontSize: (
    12px,
    14px,
    16px,
    18px,
    20px,
    24px,
    30px,
    36px,
    48px,
    64px
);

.g--font-size {
    $index: 0;

    @each $size in $fontSize {
        &-#{$index} {
            font-size: $size;
        }

        $index: $index + 1;
    }
}