$margins: (
    0px,
    4px,
    6px,
    8px,
    10px,
    12px,
    16px,
    20px,
    24px,
    32px,
    40px,
    48px,
    64px,
    80px,
    96px,
    128px,
    160px,
    192px,
    224px,
    256px,
    320px,
    480px,
    640px
);

.g--margin {

    $index: 0;

    @each $size in $margins {
        &-#{$index} {
            margin: $size;
        }

        $index: $index+1;
    }

    $index: 0;

    @each $size in $margins {
        &-left-#{$index} {
            margin-left: $size;
        }

        $index: $index+1;
    }

    $index: 0;

    @each $size in $margins {
        &-right#{$index} {
            margin-right: $size;
        }

        $index: $index+1;
    }

    $index: 0;

    @each $size in $margins {
        &-top-#{$index} {
            margin-top: $size;
        }

        $index: $index+1;
    }

    $index: 0;

    @each $size in $margins {
        &-bottom-#{$index} {
            margin-bottom: $size;
        }

        $index: $index+1;
    }
}